.main-introduction{
    width: 100%;
    height: 55vh;
    color: gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
}

/* phone size styling */
@media (max-width: 767px){

}

/* tablet size styling */
@media (min-width: 768px) and (max-width: 1023px){

}

/* laptop screen size styling */
@media (min-width: 1024px) and (max-width: 1600px){
    .main-introduction > p:first-child{
        font-size: 55px;
    }

    .main-introduction > p:last-child{
        font-size: 40px;
    }
    
    /* .celebrate-section{
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: row;
    }
    
    .celebrate-section-left{
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .celebrate-section-right{
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .pic-hold{
        background-color: red;
        width: 150px;
        height: 200px;
    } */

    .welcome-section{
        width: 100%;
        height: 100vh;
    }
    
    .welcome-text{
        text-align: center;
    }
    
    .welcome-text > .first-line, .third-line{
        font-size: 17px;
    }
    
    .welcome-text > .second-line{
        font-size: 50px
    }
    
    .welcome-pictures-section{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    
    .welcome-pictures-section > .think-of-diff-name{
        width: 33%;
        text-align: center;
    }

    .discover-btn-section{
        width: 50%;
        margin-top: 220px;
        margin-right: auto;
        margin-left: auto;
        text-align: center;
    }

    .big-picture-section{
        height: 90vh;
        width: 100%;
        background-color: green;
    }

    .change-name-section{
        height: 100vh;
        width: 100%;
        text-align: center;
        margin-top: auto;
        margin-bottom: auto;
    }
    .change-name-section > .first-line, .third-line{
        font-size: 17px;
    }
    .change-name-section > .second-line{
        font-size: 50px;
    }
    .change-name-section > button{
        margin-top: 100px;
    }

    .last-section{
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .left-picture{
        width: 50%;
    }
    .right-text{
        width: 50%;
        text-align: center;
    }
    .right-text > .first-line, .third-line{
        font-size: 17px;
    }
    .right-text > .second-line{
        font-size: 50px;
    }
    .right-text > button{
        margin-top: 100px;
    }
}

/* big screen size styling */
@media(min-width: 1601px){
    .main-introduction > p:first-child{
        font-size: 55px;
    }

    .main-introduction > p:last-child{
        font-size: 40px;
    }

    .home-about-text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50%;
        margin-right: auto;
        margin-left: auto;
        text-align: center;
    }
    
    .home-about-text > .first-line, .third-line{
        font-size: 17px;
    }
    
    .home-about-text > .second-line{
        font-size: 50px;
    }
    .rsvp{
        width: 100%;
        background-color: orange;
    }
    .rsvp-section{
        width: 100%;
        height: 60vh;
        display: flex;
        flex-direction: row;
    }
    .rsvp-left{
        width: 50%;
        background-color: red;
        display: flex;
        flex-direction: center;
        align-items: center;
    }
    .rsvp-left-img{
        width: 40%;
        height: 400px;
        background-color: gray;
        margin-left: auto;
        margin-right: auto;
    }
    .rsvp-right{
        width: 50%;
        background-color: blue;
    }
    
    .rsvp-banner{
        white-space: nowrap;
        animation: moveRight 25s linear infinite;
    }
    
    .animate-rsvp{
        display: inline-block;
        padding-right: 150px;
    }
    
    .animate-rsvp p{
        font-size: 72px;
        letter-spacing: 5px;
    }
    
    @keyframes moveRight{
        0%{
            transform: translateX(100%);
        }
        100%{
            transform: translateX(-100%);
        }
    }
    
    .celebrate-section{
        width: 100%;
        height: 90vh;
        display: flex;
        flex-direction: row;
    }
    
    .celebrate-section-left{
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .celebrate-section-right{
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .pic-hold{
        background-color: red;
        width: 450px;
        height: 600px;
    }
    .celebrate-section-left > p:first-child{
        font-size: 18px;
    }
    .celebrate-section-left > p:nth-child(2){
        font-size: 35px;
    }
    .celebrate-section-left > p:nth-child(3), .celebrate-section-left > p:nth-child(4){
        font-size: 25px;
    }
    .celebrate-section-left > p:nth-child(5), .celebrate-section-left > p:last-child{
        font-size: 20px;
    }
    .big-picture-section{
        width: 100%;
        height: 80vh;
        background-color: gray;
    }
    .welcome-section{
        width: 100%;
        height: 100vh;
    }
    
    .welcome-text{
        text-align: center;
    }
    
    .welcome-text > .first-line, .third-line{
        font-size: 17px;
    }
    
    .welcome-text > .second-line{
        font-size: 50px
    }
    
    .welcome-pictures-section{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 70vh;
    }
    
    .welcome-pictures-section > .think-of-diff-name{
        width: 33%;
        text-align: center;
    }

    .discover-btn-section{
        width: 50%;
        margin-right: auto;
        margin-left: auto;
        text-align: center;
    }
    
}
